# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.exe

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.Release
*.Debug
libqscintilla2.so.12
libqscintilla2.so.12.0
libqscintilla2.so.12.0.0

# dir
/[Dd]ebug
/[Rr]elease
/[Dd]ebug/*
/[Rr]elease/*
/Lunar.app
/.vscode/

# QtCreator
Lunar.pro
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Lunar
lunar_cpp.cfg

# script
*.pyc

# mac
*.dmg
